<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="parts/startPage :: head"/>
<body>
<div class="container mt -5">
    <header id="header" class="alt" th:include="parts/navbar :: navbar"/>
    Login page
    <div th:if="${session != null } and ${session['SPRING_SECURITY_LAST_EXCEPTION']}"
         th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        <div class="alert alert-danger">
            Reason: <span th:text="${errorMsg}">Demo Invalid input</span>
        </div>
    </div>
    <form th:action="@{/login}" method="post">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name :</label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control"
                       th:classappend="${usernameError} ? 'is-invalid' : ''" placeholder="User name"/>
                <div class="invalid-feedback" th:if="${usernameError}">
                    <span th:text="${usernameError}"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control"
                       th:classappend="${passwordError} ? 'is-invalid' : ''" placeholder="Password"/>
                <div class="invalid-feedback" th:if="${passwordError}">
                    <span th:text="${passwordError}"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sigh up</button>
    </form>
    <a href="/registr">Add new user</a>
</div>
<span th:include="parts/startPage :: scriptBootstrap"/>
</body>
</html>