<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="parts/startPage :: head"/>
<body>
<div class="container mt -5">
<header id="header" class="alt" th:include="parts/navbar :: navbar" />
    Login page
    <form th:action="@{/login}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name :</label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control" placeholder="User name" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" placeholder="Password" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sigh up</button>
    </form>
    <a href="/registr">Add new user</a>
</div>
<span th:include="parts/startPage :: scriptBootstrap"/>
</body>
</html>