<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="parts/startPage :: head"/>
<body>
<div class="container mt -5">
    <header id="header" class="alt" th:include="parts/navbar :: navbar"/>
    <div class="mt-4">
        <div class="form-row">
            <div class="form-group col-md-6">
                <form method="get" th:action="@{/main}" class="form-inline">
                    <input th:type="text" name="filter" th:value="${filter}" class="form-control">
                    <button th:type="submit" class="btn btn-primary ml-2">Search</button>
                </form>
            </div>
        </div>

        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            Add new Message
        </a>

        <div class="collapse" id="collapseExample">
            <div class="form-group mt-3">

                <form th:action="@{/main}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="text" placeholder="Write message"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tag" placeholder="Tag">
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="file" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-columns" >
            <div class="card my-3" th:each="message : ${messages}">
                <div th:if="${message.getFileName()}">
                    <img th:with="filename=${message.getFileName()}" th:src="@{${'/img/' + filename}}" class="card-img-top">
                </div>
                <div class="m-2">
                    <span th:text="${message.getTag()}"> tag </span>
                    <span th:text="${message.authorName}"> author </span>
                </div>
                <div class="card-footer text-muted">
                    <span th:text="${message.authorName}"> author </span>
                </div>
            </div>
        </div>
    </div>
</div>
<span th:include="parts/startPage :: scriptBootstrap"/>
</body>
</html>