<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel = "stylesheet" href="/static/style.css">
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<span><a href="/user">List of users</a> </span>
<form th:action="@{/main}" method="post" enctype="multipart/form-data">
    <input type="text" name="text" placeholder="Add message">
    <input type="text" name="tag" placeholder="Tag">
    <input type="file" name="file">
    <button type="submit">Add</button>
</form>

<div>Список сообщений</div>
<form method="get" th:action="@{/main}">
    <input th:type="text" name="filter" th:value="${filter}">
    <button th:type="submit">Search</button>
</form>

<div>
    <table>
        <tr th:if="${messages.empty}">
            <td colspan="2"> No messages Available</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td><span th:text="${message.getId()}"> id </span></td>
            <td><span th:text="${message.getText()}"> text </span></td>
            <td><span th:text="${message.getTag()}"> tag </span></td>
            <td><span th:text="${message.authorName}"> author </span></td>
            <td>
                <div>
                    <div th:if="${message.getFileName()}">
                        <img th:with="filename=${message.getFileName()}" th:src="@{${'/img/' + filename}}">
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
</body>
</html>