<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="parts/startPage :: head"/>
<body>
<div class="container mt -5">
    <header id="header" class="alt" th:include="parts/navbar :: navbar"/>
    <div class="mt-4">
            Add new user
            <div th:if="${message != null}">
                <div>User exists</div>
            </div>
            <form th:action="@{/registr}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">User Name :</label>
                    <div class="col-sm-6">
                        <input type="text" name="username" class="form-control"
                               th:classappend="${usernameError} ? 'is-invalid' : ''" placeholder="User name"/>
                        <div class="invalid-feedback" th:if="${usernameError}">
                            <span th:text="${usernameError}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-6">
                        <input type="password" name="password" class="form-control"
                               th:classappend="${passwordError} ? 'is-invalid' : ''"placeholder="Password"/>
                        <div class="invalid-feedback" th:if="${passwordError}">
                            <span th:text="${passwordError}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-6">
                        <input type="password2" name="password2" class="form-control"
                               th:classappend="${password2Error} ? 'is-invalid' : ''"placeholder="Password"/>
                        <div class="invalid-feedback" th:if="${password2Error}">
                            <span th:text="${password2Error}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-6">
                        <input type="email" name="email" class="form-control"
                               th:classappend="${emailError} ? 'is-invalid' : ''" placeholder="some@some.com"/>
                        <div class="invalid-feedback" th:if="${emailError}">
                            <span th:text="${emailError}"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
<span th:include="parts/startPage :: scriptBootstrap"/>
</body>
</html>