<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sweater</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.username}"></span></td>
        <td><span th:text="${user.roles}"></span></td>
        <td><a th:with="id=${user.id}" th:href="@{${'/user/' + id}}">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>